* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: rgb(240, 240, 240);
  font-family: sans-serif;
  padding: 5.625rem 0;
}

.header {
  background-color: rgb(160, 100, 255);
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 62rem;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 1.875rem;
  font-weight: bold;
  padding: 0 2.5rem;
  line-height: 5rem;
}

.nav-menu {
  display: flex;
  margin-right: 2.5rem;
  list-style: none;
}

.nav-menu-item {
  font-size: 1.125rem;
  margin: 0 0.625rem;
  line-height: 5rem;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 0.5rem 0.75rem;
  border-radius: 0.625rem;
}

.nav-menu-link:hover {
  background-color: rgb(140, 90, 230);
  transition: 0.5s;
}

.nav-toggle {
  background: none;
  border: none;
  font-size: 1.875rem;
  padding: 0 1.25rem;
  align-items: center;
  cursor: pointer;
  display: none;
}

.contenedor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 auto;
}

.content {
  padding-top: 6.25rem;
}

.presentation {
  text-align: center;
}

.intro_catalog {
  text-align: center;
  padding: 0 0.625rem;
}

#intro_title {
  padding: 3.125rem 0;
}

.img_section {
  width: 100%;
  background-color: antiquewhite;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}
.catalog_img {
  height: 200px;
  max-width: 100%;
}

.sidebar {
  background-color: rgb(160, 100, 255);
  padding: 2.5rem 0.3125rem;
  border-radius: 0.625rem;
}

#title_sidebar {
  color: white;
  text-transform: uppercase;
}

footer {
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  body {
    padding-top: 4.375rem;
  }

  .header {
    height: 3.75rem;
  }

  .logo {
    font-size: 1.5625rem;
    padding: 0 1.25rem;
    line-height: 3.75rem;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 1.25rem;
    background-color: rgb(140, 90, 230);
    position: fixed;
    left: 0;
    top: 3.75rem;
    width: 100%;
    padding: 1.25rem 0;

    height: calc(100% - 3.75rem);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 4.375rem;
  }

  .nav-menu-link:hover {
    background: none;
    color: rgb(210, 180, 255);
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}
